﻿body {
}

.wizard {
    list-style-type: none !important;
    margin: 0 0 30px 0 !important;
    padding: 0 !important;
    background: #eee !important;
    width: 100%;
}

    .wizard li {
        display: inline-block;
        cursor: pointer;
        width: 49%;
    }

    .wizard .active {
        background: #FFF !important;
        border: solid #eee 1px;
    }

        .wizard .active .single-step .title {
            background: #368ee0 !important;
            padding: 5px 5px 5px 5px;
        }

    .wizard li .single-step {
        padding: 15px 0 !important;
    }

    .wizard .steps-3 {
        list-style-type: none;
        margin: 0 0 30px 0;
        padding: 0;
        background: #eee;
    }

.error {
    color: #b94a48;
    border-color: #b94a48 !important;
}

.control-group.error {
    border-color: #b94a48;
}

.box .box-title h3 label {
    float: left;
    margin: 3px 0 3px 0;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    font-size: 20px;
}

/*Start For Total In Cash and Bank Book*/

div.total {
    border-top: 1px solid black;
    border-bottom: 3px double black;
    padding-top: 8px;
    margin-right: 24px;
    float: right;
}

    div.total label {
        width: 250px;
        font-weight: bold;
        display: inline;
        font-size: 20px;
    }

    div.total span {
        width: 150px;
        font-weight: bold;
        float: right;
    }

        div.total input {
            background-color: transparent;
            width: 120px;
            margin: 0;
            padding: 0;
            display: inline;
            height: auto;
            border-color: white;
            font-size: 20px;
        }

.totalField {
    font: bold 1em tahoma,sans-serif;
    border: solid 0 black;
    text-align: right;
    width: 7em;
    background-color: white;
    color: Black!important;
}

div.total span em {
    position: absolute;
    margin-top: 2px;
    right: -30px;
}


.total span {
    font-size: 24px;
}


/*End For Total In Cash and Bank Book*/

/*Start Cash and Bank Book Detail Grid*/

.gridDetail {
    border-collapse: collapse;
    width: 100%;
    border-color: #eee !important;
}

    .gridDetail-accountname {
        width: 98%;
        background-color: white;
        border: solid white;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .gridDetail-description {
        width: 96%;
        background-color: white;
        border: solid white;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .gridDetail-amount {
        text-align: right;
        background-color: white;
        border: solid white;
        margin-top: 0px;
        margin-bottom: 0px;
    }

/*End Cash and Bank Book Detail Grid*/

.filter-textbox {
    height: 23px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    color: #afafaf !important;
    font-weight: normal;
    padding: 0 10px;
    border: 1px solid #e4e4e4;
    background-image:url('../../Images/IconImage/filter-icon.png');
     background-position: right;
  background-repeat: no-repeat;
  background-size: 8px;
        /*background-color: #f5f5f5;*/
}
