﻿
body {
    font-family: Arial;
    font-size: 10pt;
}

.Pager span {
    text-align: center;
    color: #fff;
    /* display: inline-block; */
    /* width: 20px; */
    background-color: #2c2e2f !important;
    /* margin-right: 3px; */
    line-height: 150%;
    border: 1px solid #3AC0F2;
}

/*.Pager a {
    text-align: center;
    display: inline-block;
    width: 20px;
    background-color: #3AC0F2;
    color: #fff;
    border: 1px solid #3AC0F2;
    margin-right: 3px;
    line-height: 150%;
    text-decoration: none;
}*/


.pagination table > tbody > tr > td > span, .pagination table > tbody > tr > td > a {
    /* position: relative; */
    /* float: left; */
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #00000;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}



 .pagination table > tbody > tr > td
        {
            display: inline;
        }

.pagination table > tbody > tr > td > a:hover, .pagination table > tbody > tr > td > span:hover, .pagination table > tbody > tr > td > a:focus, .pagination table > tbody > tr > td > span:focus
        {
            color: #000000;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.pagination {
  float: right;
  /*display: inline-block; */
  /* padding-left: 33px; */
  margin: 0px;
  border-radius: 4px;
  /* margin-left: 36%; */
  /* background-color: #f2f6ff; */
  /* padding-top: 7px; */
  padding-bottom: 10px;
  height: 31px;
  /* border-top: solid 1px #cacaca; */
}

.pagination table > tbody > tr > td:last-child > a, .pagination table > tbody > tr > td:last-child > span
        {
            /* border-bottom-right-radius: 4px; */
            /* border-top-right-radius: 4px; */
        }
