﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMaster1.Master" AutoEventWireup="true" CodeBehind="../DashBoard.aspx.cs" Inherits="AccountsExperts.Accounts.DashBoard" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphBody" runat="server">
</asp:Content>
